.accordion {
  border-bottom: 1px solid white;
  max-width: 100%;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  font-weight: bold;
  cursor: pointer;
}

.arrow {
  color: white;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 24px;
}

.accordion_content.open {
  max-height: 300px;
  padding: 15px;
}
