.mainDiv {
  padding: 0 96px;
}

.grid_container {
  grid-template-columns: repeat(4, 25%);
  gap: 16px;
  padding: 10px;
  width: 100%;
}
.filter_sort_div {
  border-top: 1px solid rgba(229, 229, 229, 1);
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  padding: 24px 0px;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}

.items {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(37, 32, 32, 1);
}

.show_filter_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(136, 135, 146, 1);
  margin-left: 75px;
}
.span_item {
  display: inline-block;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.open {
  transform: rotate(180deg);
}

.show_content_mobile {
  display: none;
}

@media (max-width: 768px) {
  .mainDiv {
    padding: 0px 15px;
  }
  .grid_container {
    grid-template-columns: repeat(2, 50%);
  }
  .hide_content {
    display: none;
  }
  .show_content_mobile {
    display: block;
  }
  .filters {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(37, 32, 32, 1);
    width: 50%;
    text-align: center;
    border-right: 1px solid black;
    padding: 10px;
  }
  .filter_sort_div {
    padding: 12px 0px;
    gap: 16px;
  }
  .grid_adjustments_with_filters {
    grid-template-columns: repeat(1, 100%) !important;
    width: 88%;
  }
  .show_filters_mobile {
    min-width: 44% !important;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .mainDiv {
    padding: 0px 30px;
  }
  .grid_container {
    grid-template-columns: repeat(3, 33.33%);
  }
  .show_content_mobile {
    display: none;
  }
  .show_filter_text {
    margin-left: 35px;
  }
  .grid_adjustments_with_filters {
    grid-template-columns: repeat(2, 50%) !important;
  }
}
